.toast {
    position: fixed;
    left: 30px;
    bottom: 30px;
    font-family: "Shree Devanagari 714";
    background-image: url("https://i.ibb.co/sHLkgMh/header.png");
    background-size: cover;
    border-radius: 10px;
    color: white;
    padding: 15px;
}