.cart-table-container {
    width: 1000px;
    margin: auto;
    border: 1px solid black;
}

.cart-table {
    width: 100%;
}

.cart-table td {
    border: 1px solid rgb(11, 245, 233);
    text-align: center;
    background-image:radial-gradient(circle at bottom right, rgb(4, 128, 235) 0%, rgb(4, 128, 235) 4%,rgb(4, 108, 199) 4%, rgb(4, 108, 199) 8%,rgb(5, 89, 163) 8%, rgb(5, 89, 163) 12%,rgb(5, 69, 127) 12%, rgb(5, 69, 127) 16%,rgb(5, 49, 91) 16%, rgb(5, 49, 91) 20%,rgb(6, 30, 55) 20%, rgb(6, 30, 55) 24%,transparent 74%, transparent 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.cart-table-product-quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 98px;}

.cart-table-product-quantity img {
    width: 80px;
    height: 60px;
    object-fit: cover;
}

.cotizacion-button {
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}