.cart-table-container {
    width: 1000px;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 20px;
}

.cart-table {
    width: 100%;
}

.cart-table td {
    /* border: 1px solid black; */
    text-align: center;
    background-color: #918677;
    color: #f5f1ea;
    box-shadow: 5px 5px 5px #655e56;
    padding: 5px;
}

.cart-table th {
    padding: 10px 0;
}

.cart-table th:nth-child(1) {
    width: 20%;
}

.cart-table th:nth-child(3) {
    width: 60%;
}

.cart-table th:nth-child(4) {
    width: 5%;
}

.cart-table-product-quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-table-product-quantity img {
    width: 80px;
    height: 60px;
    object-fit: cover;
}

.cotizacion-button {
    border: none;
    background-image: url("https://i.ibb.co/NTsf65W/dorado.png");
    background-size: cover;
    border-radius: 10px;
    color: white;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.button-cotizacion-modal{
    border: none;
    background-image: url("https://i.ibb.co/NTsf65W/dorado.png");
    background-size: cover;
    border-radius: 10px;
    padding: 30px;
    /* background-color: blueviolet; */
    color: white;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 10px auto 0;
}