.cart-table-container {
    width: 1000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
}

.cart-table {
    width: 100%;
}

.cart-table td {
    /* border: 1px solid black; */
    text-align: center;
    background-image: url("https://i.ibb.co/sHLkgMh/header.png");
    color: #f5f1ea;
    border-radius: 10px;
  
}

.cart-table-product-quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 98px;}

.cart-table-product-quantity img {
    width: 80px;
    height: 60px;
    object-fit: cover;
}

.cotizacion-button {
    border: none;
    background-image: url("https://i.ibb.co/NTsf65W/dorado.png");
    background-size: cover;
    border-radius: 10px;
    padding: 30px;
    /* background-color: blueviolet; */
    color: white;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}
.buttonC{
    border: none;
    background-image: url("https://i.ibb.co/NTsf65W/dorado.png");
    background-size: cover;
    border-radius: 10px;
    padding: 30px;
    /* background-color: blueviolet; */
    color: white;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}