.parallax {
    font-family: 'Bodoni';
    color: #fff;
    text-shadow: 0PX 0PX 30PX black;
    height: 60vh;
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax h1 {
    font-size: 6vw;
    padding: 10px;
}

#seccion1 {
    background-image: url('https://i.ibb.co/vz1gJS2/5.jpg');
}

#seccion2 {
    background-image: url('https://i.ibb.co/B6qrx3L/4.jpg');
}

#seccion3 {
    background-image: url('https://i.ibb.co/KXtcR6m/3.jpg');
}

#seccion6 {
    background-image: url('https://i.ibb.co/gtG2SF8/2.jpg');
}

#seccion4 {
    background-image: url('https://i.ibb.co/C97kQTY/1.jpg');
}

#seccion5 {
    background-image: url('https://i.ibb.co/LpJ5Z6v/6.jpg');
}

.main-menu-item {
    text-decoration: none;
}