.header {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.menu {
    border: 1px solid black;
}

.menu a {
    text-decoration: none;
    margin: 0 20px;
}

.cart {
    border: 1px solid black;
}