.header {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-image: url("https://i.ibb.co/rF6V8Ws/image.jpg");

}
.botonHome{
    padding: 4px 25px;
    /* border: 1px solid #1161B0; */
    color: #fff;
    border-radius: 4px;
    text-decoration:none;
    background-image: url("https://i.ibb.co/LCmRnxP/logo-dorado-Mesa-de-trabajo-1.png");
    background-size: cover;
    height: 60px;
    width: 200px;
}
.menu {
    background: linear-gradient();
    font-family: Arial, Helvetica, sans-serif;
    perspective: 50px;
    transform: perspective(800px) rotateX(50deg);
    transition: 2s;
}

.menu:hover {
    /* border: 1px solid #0d8df5; */
    transform: perspective(10000px) rotateX(0deg);
    
   
}
.menu a {
    text-decoration: none;
    margin: 0 20px;
    font-size: 3vh;
    text-transform: uppercase;
    color:white;
}

.menu a:hover{
   
    padding: 10px;
    border-radius: 20px;
    text-shadow:0px 0px 20px#BBA689;
    font-size: 3.2vh;
    transition: 2s;
}

.cart {
    /* border: 1px solid black; */
    color: whitesmoke;
}