* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #BBA689;
    /* background-image: radial-gradient(circle at top right, rgb(52,51,51) 0%, rgb(52,51,51) 1%,rgb(50,48,48) 1%, rgb(50,48,48) 10%,rgb(52,51,51) 10%, rgb(52,51,51) 22%,rgb(52,51,51) 22%, rgb(52,51,51) 23%,rgb(35,35,35) 23%, rgb(35,35,35) 28%,rgb(19,18,18) 28%, rgb(19,18,18) 37%,rgb(0,0,0) 37%, rgb(0,0,0) 100%);  */
    background-attachment:fixed;
    font-family: 'Bodoni Berthold BQ';
}

input {
    outline: none;
}

.main-container {
    width: 1000px;
    /* height: 100vh; */
    /* border: 1px solid black; */
    margin: auto;
}